@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
}
.error, .loading{
  text-align: center;
  margin-top: 20px;
}
.brand-name {
  /* width: 100%; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  text-transform: uppercase;
}
.our-products{
  margin-top: 25px;
  border-bottom:1px solid rgb(128, 199, 228);
  border-top:1px solid rgb(128, 199, 228);
  width: fit-content;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  width: 100%;
}
.product {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
}
.img-div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  background-color: transparent;
}

.product-details {
  width: 55%;
}


.title {
  margin-bottom: 12px;
  text-align: justify;
}
.price {
  font-weight: bold;
  margin-top: 10px;
}

.product-desc {
  text-wrap: balance;
}

footer{
  background-color: rgba(128, 200, 228, 0.041);
  margin-top: 10px;
  padding: 15px;
}
footer ul{
  list-style: none;
  
}
.copyright{
  margin-top: 10px;
}
/* small screens */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* medium screen */
@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}

/* large screen */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* extra large screens  */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* very large screen */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
